<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Agregar</title>
</head>

<body>
    <div class="contenedor2">
        <form action="/agregar/Insertar" method="post" enctype="multipart/form-data">
            <input type="text" name="Servicio" placeholder="Titulo" autofocus>
            <textarea type="text" name="Descripcion" placeholder="Ingrese Descripcion"></textarea>
            <input type="file" name="Imagen">
            <button type="submit">Agregar</button>
            {{#if error}}
            <p style="color: red;">Todos los campos son requeridos</p>
            {{/if}}
        </form>

    </div>
</body>

</html>