<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/Ruta1"><p>Ruta 1</p></a>
          <a href="/Ruta2"><p>Ruta 2</p></a>
          <a href="/Ruta3"><p>Ruta 3</p></a>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
