<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapateria</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/style_admin.css">

<body>

    <header>
        Tielas
    </header>

    <main>
{{{body}}}
    </main>

    <footer>
        <div class="Pie">
            <p>Disenado por Tielas Joaquin ©2022</p>
        </div>
    </footer>

    

</body>

</html>